:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --colorforborder: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
  min-width: 480px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  margin: 0px;
}

.page-header__nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  transform: translateX(100%);
  background-color: var(--primary-background-color);
  z-index: 999;
}

.menu-container.is-open {
  transform: translateX(0);
}

.button-container {
  display: flex;
  justify-content: end;
}

.menu-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.mobile-nav__item {
  padding: 16px;
}

.current {
  color: var(--accent-color);
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mobile-contacts {
  margin-bottom: 32px;
}

.mobile-socials {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-top: 64px;
}

.mobile-socials-link:not(:first-child) {
  padding-left: 10px;
}

.mobile-socials-link:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-icon {
  fill: currentColor;
}

.menu-button:hover .mobile-icon,
.menu-button:focus .mobile-icon {
  fill: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.39;
  }
}
.logo .logo__accent {
  color: #212121;
}
.logo .logo__link {
  color: var(--accent-color);
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
}

.mail,
.phone {
  display: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover, .mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mail,
.phone {
    display: flex;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .mail,
.phone {
    display: flex;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mail + .phone {
    margin-left: 30px;
  }
  .mail {
    margin-bottom: 0px;
    margin-left: 221px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  width: 390px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.section-title.centered {
  text-align: center;
}

.mail__icon {
  display: block;
  fill: currentColor;
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail__icon:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mail__icon {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mail__icon {
    width: 16px;
    height: 12px;
  }
}
.phone__icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone__icon:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .phone__icon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .phone__icon {
    width: 10px;
    height: 16px;
  }
}
.hero {
  max-width: 100%;
  min-width: 480px;
  height: 400px;
  background-color: #2f303a;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero480@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero768.jpg");
    width: 1200px;
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 2dppx), screen and (min-width: 480px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero768@2x.jpg");
  }
}
@media not all, screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero768@2x.jpg");
    width: 1200px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-size: cover;
  }
}
.hero__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  height: 120px;
  margin-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.hero__thumb {
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero__thumb {
    padding: 0;
  }
}
.hero__section {
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  border: 1px solid var(--colorforborder);
  cursor: pointer;
}
.close-button:focus, .close-button:hover {
  fill: var(--accent-color);
}

.close {
  stroke: var(--primary-text-color);
}

.form {
  padding: 20px;
  margin: 20px;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 28px;
  width: 370px;
  outline: none;
  font-size: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .form__field {
    width: 448px;
  }
}
.form__input {
  width: 370px;
  padding: 10px 10px 10px 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus-within {
  border-color: var(--accent-color);
  border-radius: 4px;
}
.form__input:hover + .form__icon, .form__input:active + .form__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 328px;
  }
}
textarea {
  height: 120px;
  resize: none;
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.form__span {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatex(50%);
}

.form__label {
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__area {
  width: 370px;
  padding: 12px 11px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__area:focus {
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .form__area {
    width: 348px;
  }
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree {
  font-size: 12px;
  position: relative;
  padding-left: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .angree {
    margin-left: 14px;
    margin-right: 11px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.comment {
  height: 120px;
  margin-bottom: 20px;
}

.check {
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.form__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form__button {
  text-align: center;
}

.features__list {
  padding-left: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
    flex-basis: calc(25% - 30px);
  }
}
.features__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: 50%;
    width: 50%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__title {
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features__icons {
  display: flex;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .features__icons {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icons {
    width: 270px;
  }
}
.features__icons + .features__icons {
  margin-left: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.carts {
  display: none;
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .carts {
    display: block;
  }
}
.carts__list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.carts-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.carts__item {
  position: relative;
}
.carts__item:not(:last-child) {
  margin-right: 30px;
}

.carts__overlay {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.17;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.team {
  background-color: #f5f4fa;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 480px;
  max-width: 100%;
}

.team__title,
.clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title,
.clients__title {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}
.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team__list {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
    flex-basis: calc(25% - 30px);
  }
}
.team__item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item:last-child {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 0;
    margin-left: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.team__photo {
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    height: 374px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__photo {
    height: 260px;
    width: 270px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-link {
  list-style-type: none;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus, .social-link:hover {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
}

.social-list {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 16px 32px 0 32px;
  justify-content: center;
}

.team-social-icon {
  padding: 12px;
}

.team-social-link + .team-social-link {
  margin-left: 10px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-evenly;
  margin: 0 -30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-basis: calc(16.6666666667% - 30px);
    margin: 0;
  }
}
.clients__item {
  display: flex;
  width: 170px;
  height: 92px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin: 0;
  }
}
.clients__item:nth-child(6n),
.clients__item:nth-child(5n) {
  margin-bottom: 0;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 0;
  }
}
.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 0;
  row-gap: 8px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}
.filters__button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.portfolio__item {
  margin-bottom: 30px;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-child(8n) {
    margin-bottom: 0;
  }
  .portfolio__item:nth-child(7n) {
    margin-bottom: 0;
  }
  .portfolio__item:last-child {
    margin-bottom: 0;
  }
}
.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__title {
    font-size: 17px;
  }
}
.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__meta {
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__photo,
.team_photo {
  display: block;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  width: 450px;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__overlay, .portfolio__item:focus .portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--primary-white-color);
  transform: translateY(0%);
}

.text__overlay {
  color: var(--primary-white-color);
  padding: 63px 24px;
  line-height: 1.56;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .portfolio__overlay {
    width: 354px;
  }
}
.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  width: 354px;
}

@media screen and (min-width: 1200px) {
  .portfolio__overlay {
    width: 370px;
  }
}
.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  width: 370px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: 93px;
    margin-right: auto;
  }
}
.footer-form__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.footer-form__input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    margin-left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-left: 0;
    width: 358px;
    margin-bottom: 0;
  }
}
.footer-form__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-form__submit {
  display: inline-flex;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  margin: 0 120px;
}

@media screen and (min-width: 768px) {
  .footer-form__submit {
    margin-left: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__submit {
    margin-left: 12px;
    margin-right: 0;
  }
}
.footer-form__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.footer {
  background-color: #2f303a;
  list-style: line-through;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
  }
}
.footer__container {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  list-style: line-through;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
}

.footer .logo__accent {
  color: var(--primary-white-color);
  list-style: line-through;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .logo__link {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}
.address__text {
  display: block;
  margin-top: 9px;
}
.address__text:hover, .address__text:focus {
  color: var(--accent-color);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}
@media screen and (max-width: 767px) {
  .join {
    margin: 60px auto;
  }
}
.join__title,
.footer-form__title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
}

.mail__footer,
.tel__footer {
  display: block;
  margin-top: 9px;
}

.mail__footer,
.tel__footer {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail__footer:hover, .mail__footer:focus,
.tel__footer:hover,
.tel__footer:focus {
  color: var(--accent-color);
}

.social-links {
  display: flex;
}

.social-links__item {
  list-style-type: none;
  width: 44px;
  height: 44px;
}

.social-links__item + .social-links__item {
  margin-left: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:focus, .social-links__link:hover {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
}

.footer-form__title,
.join__title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
}

@media screen and (min-width: 1200px) {
  .join__title,
.footer-form__title {
    text-align: start;
  }
}
.join {
  margin: 60px auto;
}

@media screen and (max-width: 767px) {
  .join {
    margin: 60px auto;
  }
}
.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */