/*-------Footer------------*/

.footer {
  background: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer-wrapper {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $button-bg-color;
  text-decoration: none;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logospan {
  color: $accent-text-color;
}

.details {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-adress {
  margin-bottom: 8px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.foot-ad {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $accent-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $button-bg-color;
  }
}

.foot-cont {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";

  // margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $button-bg-color;
  }
}

.footer-contacts {
  margin-bottom: 8px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-contacts:nth-child(3n) {
  margin-bottom: 0;
}

/*-------Соц сети футер------*/

.footer-soc {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-title {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-text-color;

  @media screen and(min-width: 768px) {
    padding-top: 12px;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;

  &:nth-child(1) {
    margin-left: 0;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc-link {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $accent-text-color;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );

  &:hover,
  &:focus {
    background-color: $button-bg-color;
  }
}

.footer-soc-icon {
  fill: currentColor;
}

/*----------Подпишитесь на рассылку--------------*/

.footer-mailing-list {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: 93px;
    margin-bottom: 0;
  }
}

.mailing-text {
  margin-bottom: 20px;
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-text-color;

  @media screen and(min-width: 768px) {
    padding-top: 0;
  }
}

.mailing-form {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.mailing-input {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.mailing-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  // width: 200px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: $accent-text-color;
  background-color: $button-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.telegram-icon {
  margin-left: 10px;
  fill: $accent-text-color;
}
