.section-portfolio {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  // justify-content: center;

  @media screen and (max-width: 767px) {
    margin-top: -15px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.item-button {
  // align-items: center;
  background-color: $team-bg-color;

  & + & {
    margin-left: 8px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 768px) {
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn .color {
  margin-top: 0;
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  // margin-right: 8px;
  text-align: center;
  border: 1px solid;
  background-color: $title-text-color;

  color: $title-text-color;
  background-color: $team-bg-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-text-color;
    background-color: $button-bg-color;
  }
}
