.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.work__box {
  position: relative;
}

.work__tab {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-text-color;
}
