$primery-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #ffffff;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$social-icon-color: #afb1b8;

$primery-bg-color: #ffffff;
$team-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$button-bg-color: #2196f3;
$main-bg-color: #e5e5e5;
